button {
    background-color: #ff6701 !important;
    border-color: #ff6701 !important;
    
}

button:active {
    background-color: #b14700 !important;
    border-color: #b14700 !important;
}

button.active {
    background-color: #b14700 !important;
    border-color: #b14700 !important;
}

label {
    background-color: #ff6701 !important;
    border-color: #ff6701 !important;
    
}

label:active {
    background-color: #b14700 !important;
    border-color: #b14700 !important;
}

label.active {
    background-color: #b14700 !important;
    border-color: #b14700 !important;
}
